body {
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  max-width: 1200px;
  margin-top: 10px;
}
.container h1, .container h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-style: italic;
}

.header h1, .header h2, .header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.header h1 {
  color: rgb(226, 20, 168);
  font-size: 32px;
  font-family: 'Permanent Marker', cursive;
}

.header h2 {
  font-style: italic;
  font-size: 18px;
}

.header h3 {
  font-size: 16px;
  font-style: italic;
}

a:link, a:visited {
  color: rgb(205, 25, 154);
}
